.wrapper {
    width: 100%;
    background: #dfdfdf;
    height: auto;
    border-radius: 5px;
    padding: 11px;
    box-shadow: 0px 2px rgb(0, 0, 0, 0.3);
}
.mat-form-field {
    display: initial;
}
.mat-mdc-form-field {
    width: 100% !important;
}
.title-filter {
    font: 485 17px/31px Roboto, sans-serif;
    letter-spacing: 0.0125em;
    color: #898989;
}
.mat-mdc-form-field {
    margin-top: 16px;
}
