<div class="card" style="padding: 4px;">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="cover"
                [ngStyle]="{'background-image': 'url(./../../../../../assets/images/destinations/' + picture + '.jpeg)'}">
            </div>
        </div>
        <div class="col-md-6" style="padding: 7px; width: 100%;">
            <h5 class="card-title" style="float:left;">{{title}}</h5>
            <h5 class="card-title" style="float:right;">{{number}}</h5>
        </div>
    </div>
</div>